<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "D:\gitsinnori\sinnori\resouces\mybatis\mybatis-3-config.dtd">

<configuration>
	<environments default="sample_base_db">
		<environment id="sample_base_db">
			<!--
			AbstractUnpooledDataSourceFactory 를 상속 받아 외부 연결 폴인 DBCP 연결 폴을 지정한다.
			강제 사항으로 AbstractUnpooledDataSourceFactory 에서 DBCP 연결 폴을 얻을 때 
			지정한 DBCP 연결 폴 이름과 environment 의 id 는 반듯이 일치해야 한다.
			
			참고1) DBCP 연결 폴은 javax.sql.DataSource 인터페이스를 구현한 org.apache.commons.dbcp2.BasicDataSource 이다.
			참고2) DBCP 연결 폴의 환경 설정은 자바 properties 이며 신놀이 설정 파일에서 지정된다.				
			-->
			<transactionManager type="JDBC" />
			<dataSource type="kr.pe.sinnori.server.mysql.SampleBaseDBDataSourceFactory"></dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="kr/pe/sinnori/impl/mybatis/sinnoriWebMapper.xml" />
	</mappers>
</configuration>