# Compiled source #
###################
*.class

# Packages #
############
*.zip
*.tar.gz
*.jar
codda/temp/**
codda/**/report/**
codda/project/sample_*test/**
!codda/codda-helper.jar
!codda/core/all/lib/**/*.jar
!codda/core/clinet/lib/**/*.jar
!codda/core/common/lib/**/*.jar
!codda/core/helper/lib/**/*.jar
!codda/core/logger/lib/**/*.jar
!codda/core/server/lib/**/*.jar
!codda/project/sample_base/server_build/lib/**/*.jar
!codda/project/sample_base/client_build/app_build/lib/**/*.jar
!codda/project/sample_base/client_build/web_build/lib/**/*.jar
!codda/resources/newproject/web_build/lib/main/ex/*.jar
!codda/util/jooq/*.jar
# Logs #
########
*.log
logger.log*
