# Compiled source #
###################
*.class

# Packages #
############
*.zip
*.tar.gz
*.jar
sinnori/project/sample_test/web_app_base/download/gitsinnori-1.0.tar.gz
sinnori/project/sample_test/web_app_base/download/gitsinnori-1.0.zip
sinnori/project/sample_test/web_app_base/upload/*
sinnori/project/sample_test/web_app_base/temp/*
!sinnori/SinnoriHelper.jar
!sinnori/core_build/lib/ex/*.jar
!sinnori/core_build/APP-INF/lib/*.jar
!sinnori/core_build/guilib/commons-io-2.4.jar
!sinnori/core_build/guilib/jgoodies-common.jar
!sinnori/core_build/guilib/jgoodies-forms.jar
!sinnori/project/sample_fileupdown/client_build/app_build/lib/ex/*.jar
!sinnori/project/sample_base/client_build/web_build/lib/ex/*.jar
!sinnori/util/SinnoriAntBuildUtil/lib/in/forms-1.3.0.jar
!sinnori/util/SinnoriSourceBuilderUtil/lib/in/forms-1.3.0.jar
!sinnori/util/SinnoriTxtFileToJavaStringUtil/lib/ex/*.jar
# Logs #
########
*.log
logger.log*
