# Compiled source #
###################
*.class

# Packages #
############
*.zip
*.tar.gz
*.jar
!sinnori_framework/SinnoriAntBuildUtil.jar
!sinnori_framework/SinnoriSourceBuilderUtil.jar
!sinnori_framework/core_build/lib/ex/*.jar
!sinnori_framework/project/sample_fileupdown/client_build/app_build/lib/ex/forms-1.3.0.jar
!sinnori_framework/util/SinnoriAntBuildUtil/lib/in/forms-1.3.0.jar
!sinnori_framework/util/SinnoriSourceBuilderUtil/lib/in/forms-1.3.0.jar
!sinnori_framework/util/SinnoriTxtFileToJavaStringUtil/ex/commons-lang-2.6.jar
# Logs #
########
*.log
logger.log*
