<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
    <!--for further documentation-->
    <File.desc>${SINNORI_PROJECT_LOG_PATH}/logFile.log</File.desc>
    <file>${SINNORI_PROJECT_LOG_PATH}/logFile.log</file>
    <encoder>
      <pattern>[%d{HH:mm:ss.SSS}][%-5p][%t](%F::%L) - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
  </appender>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5p %l %m%n</pattern>
    </encoder>
  </appender>
  <logger name="sinnori" level="INFO">
    <appender-ref ref="logfile"/>
  </logger>
  <root level="INFO">
    <appender-ref ref="console"/>
  </root>
</configuration>