/* The ultra77 template is designed and released by Ian Smith
of N-vent Design Services LLC - www.n-vent.com. Feel free to
use this, but please don't sell it and kindly leave the credits
intact. Muchas Gracias!

January 2007

global styles
============================== */
body {
    position: relative;
	color: gray;
	margin: 10px 0 0 0;
	padding: 0;
	font: 75% Arial, Helvetica, sans-serif;
	min-width:800px;
	background: #fff url(/images/bg.png) repeat-y center;
	}
#wrapper{
	position: relative;
	padding: 0;
	margin: 0 auto;
	width: 821px;
	background: url(/images/bg.png) repeat-y;
	}
#wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	position: relative;
	border: 0;
	}
h1, h2, h3{
	font-weight: bold;
	padding: 10px 0 0 0;
	margin: 0;
	}
h1{
	font-size: 130%;
	color: black;
	border-bottom: 1px dashed silver;
	}
h2{
	font-size: 110%;
	color: black;
	border-bottom: 1px dashed #e8e8e8;
	}
h3{
	font-size: 100%;
	color: #80a1cd;
	}
a:link {
	color: #3D82C7;
    }
a:visited {
	color: #234D76;
    }
a:hover {
	color: red;
    }



/* header styles
============================== */

#header{
	position: relative;
	height: 138px;
	background: url(/images/hbg.png) no-repeat center;
	}
#branding {
	position: relative;
	left: 15px;
	top: 25px;
	width: 300px;
	height: 110px;
    }
#pagedescription{
	position: relative;
	top: 50px;
	float: right;
	margin: 0 15px 0 0;
	text-align: right;
	line-height: 100%;
	clear: both;
    }
#pagedescription h2{
	font-weight: normal;
	color: gray;
	padding: 0;
	margin: 0;
    }
#pagedescription h1 {
	font-weight: normal;
	border: 0;
	padding: 0;
	margin: 0;
    }

/* feel free to delete this class. */
.templogo {
    font-size: 3em;
	}




/* menu styles
============================== */

#menu{
	margin-top: 10px;
	position: relative;
	height: 38px;
    background: url(/images/mbg.png) no-repeat center;
	text-align: center;
    }
#menu ul {
	position: relative;
	top: 10px;
	padding: 0;
    }
#menu li,
#footer li{
	display: inline;
	padding: 0 6px;
    }
#menu li a{
	display: inline;
	color: black;
	text-decoration: none;
    }
#menu li a:hover,
#menu li a:focus{
    font-weight: bolder;
    text-decoration: underline;
    }
.active{
    font-weight: bolder;
    }
#sidemenu {
    margin-top: 10px;
	position: absolute;
	top: 200px;
	width: 194px;
	background: url(/images/body-bg.png) repeat-x center;
    }
#smtop,
#smbottom{
	position: relative;
	background: url(/images/sm-top.png) no-repeat center;
	height: 14px;
	line-height: 14px;
	margin: 0;
	padding: 0;
	clear: both;
    }
#smbottom{
	background: url(/images/sm-bottom.png) no-repeat center;
    }
#sidemenu ul,
#smtitle{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 194px;
	background:  url(/images/sm-bg.png) repeat-y center;
    }
#smtitle h1{
    padding: 10px;
    font: normal normal bolder 120% Arial, Helvetica, sans-serif;
    border: 0;
    }
#sidemenu li{
	padding: 3px 0 3px 1px;
	display: block;
    }
#sidemenu li a{
	line-height: 18px;
	padding-left: 24px;
	color: black;
	display: block;
	height: 19px;
	text-decoration: none;
    }
#sidemenu li a:hover,
#sidemenu li a:focus{
	background: url(/images/sm-over.png) no-repeat center;
    }
#sidemenu li a.currentpage {
    background: url(/images/sm-urhere.png) no-repeat center;
    }



/* content styles
============================== */

#bodywrap{
	position: relative;
	left: 160px;
	width: 660px;
	min-height: 200px;
	text-align: center;
    background: url(/images/body-bg.png) repeat-y left;
    }
#bodytop,
#bodybottom{
	position: relative;
    left: 160px;
	width: 660px;
	background: url(/images/body-top.png) no-repeat center;
	height: 12px;
	line-height: 12px;
	margin: 0;
	padding: 0;
    }
#bodytop {
    margin-top: 10px;
    }
#bodybottom{
	background: url(/images/body-bottom.png) no-repeat center;
    }
#contentbody{
    position: relative;
	padding: 0 15px 0 45px;
	margin: 0;
	border: 0;

	text-align: left;
    }
#contentbody p{
	padding: 3px 0;
	margin: 0;
    }
#contentbody ul,
#contentbody ol{
	padding: 3px 0;
	margin: 0 18px;
	list-style: outside;
    }
#contentbody img {
    border: 0;
    float: right;
    }


/* footer styles
============================== */

#footer{
	margin-top: 10px;
	clear: both;
	position: relative;
	height: 38px;
	background: url(/images/footerbg.png) no-repeat center;
	text-align: center;
	font-size: 9px;
    }
#footer p{
	position: relative;
	top: 13px;
	padding: 0;
	padding-left: 15px;
	display: inline;
    }
#footer ul{
	display: inline;
	position: relative;
	top: 13px;
	padding: 0;
    }
#footer li{
	padding: 0 0 0 10px;
	display: inline;
	list-style: none outside;
    }
#footer a:link {
	color: #000;
	text-decoration: none;
    }
#footer a:visited {
	color: gray;
    }
#footer a:hover {
	color: #000;
	text-decoration: underline;
    }
