<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	You under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<display-name>Welcome to Codda</display-name>
	<description>
	Welcome to Codda
    </description>
	
	<!-- 사용자 로그인 입력 화면 -->
	<servlet>
		<servlet-name>UserLoginInput</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.UserLoginInputSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/UserLoginInput</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginInput</servlet-name>
		<url-pattern>/servlet/UserLoginInput</url-pattern>
	</servlet-mapping>
	
	<!-- DB 사용자 로그인 처리 -->
	<servlet>
		<servlet-name>UserLoginProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.UserLoginProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/UserLoginProcess</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginProcess</servlet-name>
		<url-pattern>/servlet/UserLoginProcess</url-pattern>
	</servlet-mapping>
	
	<!-- 하드코딩된 사용자 정보를 마탕으로 하는 사용자 로그인 처리 -->
	<servlet>
		<servlet-name>UserHardCodingLoginProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.UserHardCodingLoginProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/UserLoginProcess</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserHardCodingLoginProcess</servlet-name>
		<url-pattern>/servlet/UserHardCodingLoginProcess</url-pattern>
	</servlet-mapping>
		
	<!-- 사용자 사이트의 회원 등록 화면 -->
	<servlet>
		<servlet-name>UserSiteMembershipInput</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.UserSiteMembershipInputSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/UserSiteMembershipInput</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserSiteMembershipInput</servlet-name>
		<url-pattern>/servlet/UserSiteMembershipInput</url-pattern>
	</servlet-mapping>	
	
	<!-- 회원 등록 처리 -->
	<servlet>
		<servlet-name>MembershipProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.MembershipProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/UserSiteMembershipInput</param-value>
		</init-param>		
	</servlet>
	<servlet-mapping>
		<servlet-name>MembershipProcess</servlet-name>
		<url-pattern>/servlet/MembershipProcess</url-pattern>
	</servlet-mapping>	
	
	<!-- JDF 비로그 -->
	<servlet>
		<servlet-name>JDFNotLogin</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.JDFNotLoginSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JDFNotLogin</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JDFNotLogin</servlet-name>
		<url-pattern>/servlet/JDFNotLogin</url-pattern>
	</servlet-mapping>
	
	<!-- JDF 로그인 -->
	<servlet>
		<servlet-name>JDFLogin</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.JDFLoginSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JDFLogin</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JDFLogin</servlet-name>
		<url-pattern>/servlet/JDFLogin</url-pattern>
	</servlet-mapping>
	
	
	<!-- JDF 세션키  -->
	<servlet>
		<servlet-name>JDFSessionKey</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.JDFSessionKeySvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JDFSessionKey</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JDFSessionKey</servlet-name>
		<url-pattern>/servlet/JDFSessionKey</url-pattern>
	</servlet-mapping>

	<!-- RSA 암/복호화 입력 화면 -->
	<servlet>
		<servlet-name>JSRSAInput</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.JSRSAInputSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JSRSAInput</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSRSAInput</servlet-name>
		<url-pattern>/servlet/JSRSAInput</url-pattern>
	</servlet-mapping>
	
	<!-- RSA 암/복호화 처리 -->
	<servlet>
		<servlet-name>JSRSAProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.JSRSAProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JSRSAInput</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSRSAProcess</servlet-name>
		<url-pattern>/servlet/JSRSAProcess</url-pattern>
	</servlet-mapping>
	
	

	<!-- 자바 스크립트 CryptoJS 라이브러리의 '메시지 다이제스트'(=해쉬) 입력 화면 -->
	<servlet>
		<servlet-name>JSMessageDigestInput</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.JSMessageDigestInputSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JSMessageDigestInput</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSMessageDigestInput</servlet-name>
		<url-pattern>/servlet/JSMessageDigestInput</url-pattern>
	</servlet-mapping>
	
	<!-- 자바 스크립트 CryptoJS 라이브러리의 '메시지 다이제스트'(=해쉬) 처리 -->
	<servlet>
		<servlet-name>JSMessageDigestProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.JSMessageDigestProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JSMessageDigestInput</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSMessageDigestProcess</servlet-name>
		<url-pattern>/servlet/JSMessageDigestProcess</url-pattern>
	</servlet-mapping>

	<!-- 자바 스크립트 CryptoJS 라이브러리의 대칭키 입력 화면 -->
	<servlet>
		<servlet-name>JSSymmetricKeyInput</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.JSSymmetricKeyInputSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JSSymmetricKeyInput</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSSymmetricKeyInput</servlet-name>
		<url-pattern>/servlet/JSSymmetricKeyInput</url-pattern>
	</servlet-mapping>
	
	<!-- 자바 스크립트 CryptoJS 라이브러리의 대칭키 처리 -->
	<servlet>
		<servlet-name>JSSymmetricKeyProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.JSSymmetricKeyProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JSSymmetricKeyInput</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSSymmetricKeyProcess</servlet-name>
		<url-pattern>/servlet/JSSymmetricKeyProcess</url-pattern>
	</servlet-mapping>

	<!-- 에코 메시지 교환 -->
	<servlet>
		<servlet-name>Echo</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.EchoSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/Echo</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Echo</servlet-name>
		<url-pattern>/servlet/Echo</url-pattern>
	</servlet-mapping>

	<!-- 모든 데이터 타입 메시지 교환 -->
	<servlet>
		<servlet-name>AllItemType</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.AllItemTypeSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/AllItemType</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllItemType</servlet-name>
		<url-pattern>/servlet/AllItemType</url-pattern>
	</servlet-mapping>
	
	<!-- JAVA GC caller -->
	<servlet>
		<servlet-name>JavaGCCaller</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.JavaGCCallerSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JavaGCCaller</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaGCCaller</servlet-name>
		<url-pattern>/servlet/JavaGCCaller</url-pattern>
	</servlet-mapping>
	
	<!-- 자바 문자열 변환 도구 입력 화면 -->
	<servlet>
		<servlet-name>JavaStringConverterInput</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.JavaStringConverterInputSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JavaStringConverterInput</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaStringConverterInput</servlet-name>
		<url-pattern>/servlet/JavaStringConverterInput</url-pattern>
	</servlet-mapping>
	
	<!-- 자바 문자열 변환 도구 처리 -->
	<servlet>
		<servlet-name>JavaStringConverterProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.JavaStringConverterProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JavaStringConverterInput</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaStringConverterProcess</servlet-name>
		<url-pattern>/servlet/JavaStringConverterProcess</url-pattern>
	</servlet-mapping>
	
	<!-- 게시판 목록 -->
	<servlet>
		<servlet-name>BoardList</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.BoardListSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardList</servlet-name>
		<url-pattern>/servlet/BoardList</url-pattern>
	</servlet-mapping>

	<!-- 게시글 추천 -->
	<servlet>
		<servlet-name>BoardVote</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.BoardVoteSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardVote</servlet-name>
		<url-pattern>/servlet/BoardVote</url-pattern>
	</servlet-mapping>

	<!-- 게시글 상세 -->
	<servlet>
		<servlet-name>BoardDetail</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.BoardDetailSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardDetail</servlet-name>
		<url-pattern>/servlet/BoardDetail</url-pattern>
	</servlet-mapping>

	<!-- 최상위 글 입력 화면 -->
	<servlet>
		<servlet-name>BoardWriteInput</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.BoardWriteInputSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardWriteInput</servlet-name>
		<url-pattern>/servlet/BoardWriteInput</url-pattern>
	</servlet-mapping>	
	
	<!-- 최상위 글 입력 처리 -->
	<servlet>
		<servlet-name>BoardWriteProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.BoardWriteProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardWriteProcess</servlet-name>
		<url-pattern>/servlet/BoardWriteProcess</url-pattern>
	</servlet-mapping>

	<!-- 댓글 입력 화면 -->
	<servlet>
		<servlet-name>BoardReplyInput</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.BoardReplyInputSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardReplyInput</servlet-name>
		<url-pattern>/servlet/BoardReplyInput</url-pattern>
	</servlet-mapping>
	
	
	<!-- 댓글 입력 처리 -->
	<servlet>
		<servlet-name>BoardReplyProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.BoardReplyProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardReplyProcess</servlet-name>
		<url-pattern>/servlet/BoardReplyProcess</url-pattern>
	</servlet-mapping>

	<!-- 게시글 수정 처리 -->
	<servlet>
		<servlet-name>BoardModifyProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.BoardModifyProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardModifyProcess</servlet-name>
		<url-pattern>/servlet/BoardModifyProcess</url-pattern>
	</servlet-mapping>

	<!-- 첨부 파일 내려받기 -->
	<servlet>
		<servlet-name>BoardDownload</servlet-name>
		<servlet-class>kr.pe.codda.servlet.user.BoardDownloadSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardDownload</servlet-name>
		<url-pattern>/servlet/BoardDownload</url-pattern>
	</servlet-mapping>
	
	
	
	
	<!-- Simple Captcha start -->
	<servlet>
        <servlet-name>StickyCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
        <!-- The width and height params are optional; 
        if unspecified they default to 200 and 50 respectively. -->
        <init-param>
            <param-name>width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>75</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>StickyCaptcha</servlet-name>
        <url-pattern>/servlet/stickyImg</url-pattern>
    </servlet-mapping>
	<!-- Simple Captcha end -->
</web-app>
