# dbcp configuration file
#driver=org.mariadb.jdbc.Driver
driver=com.mysql.jdbc.Driver
url=jdbc:mysql://172.30.1.15:3306/SB_DB
username=madangsoe01
password=test1234
initialSize=3
maxActive=3
maxIdle=3
minIdle=0
maxWait=1000
defaultAutoCommit=false
validationQuery=select 1
