<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${sinnori.logPath}/logger.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %msg\(%F:%L\)%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${sinnori.logPath}/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>15</maxHistory>
		</rollingPolicy>
	</appender>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level [%thread] %msg \(%F:%L\)%n</pattern>
		</encoder>
	</appender>	
	
	<root level="INFO">
		<appender-ref ref="console"/>
	</root>

	<logger name="kr.pe.sinnori" level="INFO">
		<appender-ref ref="logfile"/>
	</logger>

	<!-- "mapper" tag's attribute namespace in the mybatis mapper xml file -->
	<logger name="kr.pr.sinnori.testweb" level="DEBUG">
		<appender-ref ref="logfile"/>
	</logger>
</configuration>
