<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	You under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<display-name>Welcome to Codda</display-name>
	<description>
	Welcome to Codda
    </description>
	
	<!-- 사용자 로그인 -->
	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>kr.pe.codda.servlet.UserLoginSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/UserLogin</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/servlet/UserLogin</url-pattern>
	</servlet-mapping>

	<!-- 회원 등록 -->
	<servlet>
		<servlet-name>MemberRegistration</servlet-name>
		<servlet-class>kr.pe.codda.servlet.MemberRegistrationSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/MemberRegistration</param-value>
		</init-param>
		<init-param>
			<param-name>siteType</param-name>
			<param-value>user</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberRegistration</servlet-name>
		<url-pattern>/servlet/MemberRegistration</url-pattern>
	</servlet-mapping>	
	
	<!-- JDF 비로그인 테스트 -->
	<servlet>
		<servlet-name>JDFNotLoginTest</servlet-name>
		<servlet-class>kr.pe.codda.servlet.JDFNotLoginTestSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JDFNotLoginTest</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JDFNotLoginTest</servlet-name>
		<url-pattern>/servlet/JDFNotLoginTest</url-pattern>
	</servlet-mapping>
	
	<!-- JDF 로그인 테스트 -->
	<servlet>
		<servlet-name>JDFLoginTest</servlet-name>
		<servlet-class>kr.pe.codda.servlet.JDFLoginTestSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JDFLoginTest</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JDFLoginTest</servlet-name>
		<url-pattern>/servlet/JDFLoginTest</url-pattern>
	</servlet-mapping>
	
	
	<!-- JDF 세션키 테스트 -->
	<servlet>
		<servlet-name>JDFSessionKeyTest</servlet-name>
		<servlet-class>kr.pe.codda.servlet.JDFSessionKeyTestSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JDFSessionKeyTest</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JDFSessionKeyTest</servlet-name>
		<url-pattern>/servlet/JDFSessionKeyTest</url-pattern>
	</servlet-mapping>

	<!-- RSA 암/복호화 테스트 -->
	<servlet>
		<servlet-name>JSRSATest</servlet-name>
		<servlet-class>kr.pe.codda.servlet.JSRSATestSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JSRSATest</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSRSATest</servlet-name>
		<url-pattern>/servlet/JSRSATest</url-pattern>
	</servlet-mapping>

	<!-- '메시지 다이제스트'(=해쉬) 테스트 -->
	<servlet>
		<servlet-name>JSMessageDigestTest</servlet-name>
		<servlet-class>kr.pe.codda.servlet.JSMessageDigestTestSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JSMessageDigestTest</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSMessageDigestTest</servlet-name>
		<url-pattern>/servlet/JSMessageDigestTest</url-pattern>
	</servlet-mapping>

	<!-- 대칭키 테스트 -->
	<servlet>
		<servlet-name>JSSymmetricKeyTest</servlet-name>
		<servlet-class>kr.pe.codda.servlet.JSSymmetricKeyTestSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JSSymmetricKeyTest</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSSymmetricKeyTest</servlet-name>
		<url-pattern>/servlet/JSSymmetricKeyTest</url-pattern>
	</servlet-mapping>

	<!-- 에코 테스트 -->
	<servlet>
		<servlet-name>EchoTest</servlet-name>
		<servlet-class>kr.pe.codda.servlet.EchoTestSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/EchoTest</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>EchoTest</servlet-name>
		<url-pattern>/servlet/EchoTest</url-pattern>
	</servlet-mapping>

	<!-- 모든 데이터 타입 테스트 -->
	<servlet>
		<servlet-name>AllItemTypeTest</servlet-name>
		<servlet-class>kr.pe.codda.servlet.AllItemTypeTestSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/AllItemTypeTest</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllItemTypeTest</servlet-name>
		<url-pattern>/servlet/AllItemTypeTest</url-pattern>
	</servlet-mapping>
	
	
	<!-- 게시판 목록 -->
	<servlet>
		<servlet-name>BoardList</servlet-name>
		<servlet-class>kr.pe.codda.servlet.BoardListSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardList</servlet-name>
		<url-pattern>/servlet/BoardList</url-pattern>
	</servlet-mapping>

	<!-- 게시글 추천 -->
	<servlet>
		<servlet-name>BoardVote</servlet-name>
		<servlet-class>kr.pe.codda.servlet.BoardVoteSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardVote</servlet-name>
		<url-pattern>/servlet/BoardVote</url-pattern>
	</servlet-mapping>

	<!-- 게시글 상세 -->
	<servlet>
		<servlet-name>BoardDetail</servlet-name>
		<servlet-class>kr.pe.codda.servlet.BoardDetailSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardDetail</servlet-name>
		<url-pattern>/servlet/BoardDetail</url-pattern>
	</servlet-mapping>

	<!-- 최상위 글 입력 화면 -->
	<servlet>
		<servlet-name>BoardWriteInput</servlet-name>
		<servlet-class>kr.pe.codda.servlet.BoardWriteInputSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardWriteInput</servlet-name>
		<url-pattern>/servlet/BoardWriteInput</url-pattern>
	</servlet-mapping>	
	
	<!-- 최상위 글 입력 처리 -->
	<servlet>
		<servlet-name>BoardWriteProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.BoardWriteProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardWriteProcess</servlet-name>
		<url-pattern>/servlet/BoardWriteProcess</url-pattern>
	</servlet-mapping>

	<!-- 댓글 입력 화면 -->
	<servlet>
		<servlet-name>BoardReplyInput</servlet-name>
		<servlet-class>kr.pe.codda.servlet.BoardReplyInputSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardReplyInput</servlet-name>
		<url-pattern>/servlet/BoardReplyInput</url-pattern>
	</servlet-mapping>
	
	
	<!-- 댓글 입력 처리 -->
	<servlet>
		<servlet-name>BoardReplyProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.BoardReplyProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardReplyProcess</servlet-name>
		<url-pattern>/servlet/BoardReplyProcess</url-pattern>
	</servlet-mapping>

	<!-- 게시글 수정 처리 -->
	<servlet>
		<servlet-name>BoardModifyProcess</servlet-name>
		<servlet-class>kr.pe.codda.servlet.BoardModifyProcessSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardModifyProcess</servlet-name>
		<url-pattern>/servlet/BoardModifyProcess</url-pattern>
	</servlet-mapping>

	<!-- 첨부 파일 내려받기 -->
	<servlet>
		<servlet-name>BoardDownload</servlet-name>
		<servlet-class>kr.pe.codda.servlet.BoardDownloadSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/BoardList</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardDownload</servlet-name>
		<url-pattern>/servlet/BoardDownload</url-pattern>
	</servlet-mapping>
	
	<!-- JAVA GC caller -->
	<servlet>
		<servlet-name>JavaGCCaller</servlet-name>
		<servlet-class>kr.pe.codda.servlet.JavaGCCallerSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JavaGCCaller</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaGCCaller</servlet-name>
		<url-pattern>/servlet/JavaGCCaller</url-pattern>
	</servlet-mapping>
	
	<!-- 자바 문자열 변환 도구 -->
	<servlet>
		<servlet-name>JavaStringConverter</servlet-name>
		<servlet-class>kr.pe.codda.servlet.JavaStringConverterSvl</servlet-class>
		<init-param>
			<param-name>menuGroupURL</param-name>
			<param-value>/servlet/JavaStringConverter</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaStringConverter</servlet-name>
		<url-pattern>/servlet/JavaStringConverter</url-pattern>
	</servlet-mapping>
	
	<!-- Simple Captcha start -->
	<servlet>
        <servlet-name>StickyCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
        <!-- The width and height params are optional; 
        if unspecified they default to 200 and 50 respectively. -->
        <init-param>
            <param-name>width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>75</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>StickyCaptcha</servlet-name>
        <url-pattern>/servlet/stickyImg</url-pattern>
    </servlet-mapping>
	<!-- Simple Captcha end -->
</web-app>
